$black: #000;
$dark: #111;
$white: #fff;
$light-gray: #b6b6b6;
$primary-gradient: #950741;
$secondary-gradient: #C3083F;
$bg-gradient-1: #87e0fd;
$bg-gradient-2: #53cbf1;
$bg-gradient-3: #05abe0;
$bg: #fcfcfc;
$box-shadow: #eee;