$black: #000;
$dark: #111;
$white: #fff;
$light-gray: #b6b6b6;
$primary-gradient: #0072ff;
$secondary-gradient: #00c6ff;
$bg-gradient-1: #87e0fd;
$bg-gradient-2: #53cbf1;
$bg-gradient-3: #05abe0;
$bg: #fcfcfc;