$font-family: 'Abel', sans-serif;
$typed-font: 40px;
$heading-2: 4vw;
$heading-2-mobile: 8vw;
$heading-3: 2vw;
$heading-3-mobile: 6vw;
$text: 18px;
// media queries
$small-devices: 600px; //max width
$tablets: 601px; // min width
$landscape-tablets: 768px; //min width
$large-devices: 992px; //min width
$extra-large: 1200px; //min width
$mobiles: 575px;