@import '../base/reset';
@import '../base/colors';
@import '../base/variables';
@import '../layout/extend';
@import '../layout/mixin';

body {
	font-family: $font-family;
}

.title-section {
	color: $white;

	.title {
		@extend %title;
	}

	.info {
		img {
			@extend %title-image;
		}

		p {
			@extend %name;
		}
	}
}

.about-section {
	@extend %section-padding;
	color: $white;

	.about {
		@extend %white-bg;

		li {
			list-style-type: none;

			span {
				@extend %gradient-text;
				width: 95px;
			    display: inline-table;
			}
		}

		h4 {
			padding: 30px 0;
			@extend %gradient-text;
			font-weight: bold;
		}

		.owl-slider {
			// @include linearGradient($secondary-gradient, $primary-gradient);
			padding: 50px 20px 0px;
			@include border-radius(5px);

			.owl-carousel .owl-item img {
			    display: block;
			    width: 70%;
			    margin: 0 20px;
			}
		}
	}

	ul {
		li {
			@extend %nav-li;

			a {
				@extend %nav-a;
			}
		}
	}

	p {
		display: inline-block;
		width: 100px;
	}

	.progress {
	    display: inline-block;
	    width: 78%;
	    margin-left: 10px;

	    .progress-bar {
		    @include linearGradient($secondary-gradient, $primary-gradient);
		}
	}
}
