@import '../base/_colors';
@import '../base/_variables';
@import '../layout/_mixin';

%banner-design {
	position: absolute;
	content: "";
}

%home-padding {
	padding: 170px 0;
}

%nav-li {
	list-style-type: none;
	display: block;
	margin-bottom: 40px;
}

%nav-a {
	color: $white;
	padding: 15px;
	border-radius: 64%;
	@include linearGradient($primary-gradient, $secondary-gradient);
	@include transition(0.7s);

	&:hover {
		@include linearGradient($secondary-gradient, $primary-gradient);
		@include transition(0.7s);
	}
}

%title {
	padding: 15px 30px 10px;
	@include linearGradient($primary-gradient, $secondary-gradient);
	@include border-radius(20px 0);
}

%section-padding {
	padding: 100px 0;
}

%title-image {
	width: 7%;
	height: 70%;
    position: absolute;
    border-radius: 60%;
    top: 46px;
    border: 5px solid $primary-gradient;
    margin-left: 30px;
}

%name {
	margin-left: 90px;
    background: $secondary-gradient;
    width: 250px;
    padding: 5px 0px 5px 30px;
    border-radius: 0 0 8px 0;
}

%white-bg {
	margin: 0 180px;
    background: #fcfcfc;
    color: #000;
    padding: 25px 45px 40px;
    box-shadow: 3px 2px 20px 0px $primary-gradient;
}

%gradient-text {
	@include linearGradient($primary-gradient, $secondary-gradient);
	-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}

%button {
	@include linearGradient($primary-gradient, $secondary-gradient);
	@include transition(0.7s);
	margin-top: 10px;
	border: 0px !important;

	&:hover {
		@include linearGradient($secondary-gradient, $primary-gradient);
		@include transition(0.7s);
	}

	a {
		color: $white;
		text-decoration: none;

		&:hover {
			text-decoration: none;
			color: $white;
		}
	}
}